<!DOCTYPE html>
<html>

<head>
    <title> Add Quiz </title>
    <!-- <link href="/assets/styles.css" rel="stylesheet" type="text/css" /> -->
    <link href="/assets/styleForRadio.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/assets/multipleQuizFormStyle.css" rel="stylesheet" type="text/css" />
    <!-- <script src="/assets/jquery-3.3.1.min.js"></script> -->
</head>

<body>
    <form id="quiz_form" method="POST" action="/addQuiz_success">
        <label for="loyality">for which company that quiz belong: </label>
        <input type="text" name='100' value="<%= queryString.belong %>">
        <br>

        <!-- Question 1 -->
        <label for="Question 1">Question 1: </label>
        <input type="text" name='0' value="<%= queryString.q1 %>">
        <br>

        <label for="Q1 - Choice 1">Q1 - Choice 1: </label> <input id='choice' type="text" name='4'
            value="<%= queryString.q1c1 %>">
        <br>
        <label for="Q1 - Choice 2">Q1 - Choice 2: </label> <input id='choice' type="text" name='5'
            value="<%= queryString.q1c2 %>">
        <br>

        <br>
        <label for="Q1 - Choice 3">Q1 - Choice 3: </label> <input id='choice' type="text" name='6'
            value="<%= queryString.q1c3 %>">
        <br>

        <label for="Q1 - correct answer">Q1 - correct answer: </label> <input id='answer' type="text" name='7'
            value="<%= queryString.q1c3 %>">
        <br>

        <!-- Question 2 -->
        <label for="Question 2">Question 2: </label>
        <input type="text" name='1' value="<%= queryString.q2 %>"> 
        <br>

        <label for="Q2 - Choice 1">Q2 - Choice 1: </label>
        <input id='choice' type="text" name='14' value="<%= queryString.q2c1 %>">
        <br>
        <label for="Q2 - Choice 2">Q2 - Choice 2: </label>
        <input id='choice' type="text" name='15' value="<%= queryString.q2c2 %>">
        <br>
        <label for="Q2 - Choice 3">Q2 - Choice 3: </label>
        <input id='choice' type="text" name='16' value="<%= queryString.q2c3 %>">
        <br>
        <label for="Q2 - correct answer">Q2 - correct answer: </label> <input id='answer' type="text" name='17'
            value="<%= queryString.q1c3 %>">
        <br>

        <!-- Question 3 -->
        <label for="Question 3">Question 3: </label>
        <input type="text" name='2' value="<%= queryString.q3 %>"> 
        <br>
        <label for="Q3 - Choice 1">Q3 - Choice 1: </label>
        <input id='choice' type="text" name='24' value="<%= queryString.q3c1 %>">
        <br>
        <label for="Q3 - Choice 2">Q3 - Choice 2: </label>
        <input id='choice' type="text" name='25' value="<%= queryString.q3c2 %>">
        <br>
        <label for="Q3 - Choice 3">Q3 - Choice 3: </label>
        <input id='choice' type="text" name='26' value="<%= queryString.q3c3 %>">
        <br>
        <label for="Q3 - correct answer">Q3 - correct answer: </label> <input id='answer' type="text" name='27'
            value="<%= queryString.q1c3 %>">
        <br>
        <input type="submit" value="submit" id='input_submit'>
    </form>
</body>

</html>
