<!DOCTYPE html>
<html>

<head>
    <title> Add Quiz Successed </title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styleForRadio.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/assets/multipleQuizFormStyle.css" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery-3.3.1.min.js"></script>
</head>

<body>
    <form action="/addQuiz_success" method="POST">
        <h1>Quiz</h1>
        <h2> This <strong><i>Quiz</i></strong> belong to <strong><i><%= inputData[0].field %></i></strong></h2>
        <% for(var i = 1; i < inputData.length; i++) {%>
        <div class="tab">
            <h2><%= inputData[i].question %></h2>
            <fieldset>
                <% for(j = 0; j < inputData[i].choices.length; j++) { %>
                <label class="container"><%= inputData[i].choices[j] %>
                    <input type="radio" value="<%= inputData[i].choices[j] %>" name="question <%= i %>" checked>
                    <span class="checkmark"></span>
                </label>
                <% } %>
            </fieldset>
        </div>
        <% } %>
        <input type="submit" value="Submit">
    </form>
    <script src="/assets/multipleQuizForm.js"></script>
</body>

</html>