<!DOCTYPE html>
<html>

<head>
    <title> Quiz </title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styleForRadio.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/assets/multipleQuizFormStyle.css" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery-3.3.1.min.js"></script>
</head>

<body>
    <!-- <br><input name="Next" id="Next" value="Next" type="submit" ></br> -->
    <form action="/quiz_success" method="POST">
        <h1>Quiz</h1>
        
        <br>
        <% for (var i = 0; i < node.size; i++) { %>
        <fieldset id = "<%= i %>">
            <div class="tab">
                <h2><%= node.question[i] %></h2>
                <% for (var j = 0; j < node.choices[i].length; j++) { %>
                <label class="container"><%= node.choices[i][j] %>
                    <input type="radio" id = "<%= i %>" name="<%= i %>" value="<%= j %>" checked>
                    <span class="checkmark"></span>
                </label>
                <% } %>
            </div>
        </fieldset>
        <% } %>
        <input type='hidden' name="id" value="<%= node.id%>">
        <input type="submit" value="Submit">
    </form>
</body>

</html>
